.partner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 174px 0;

  .partner-title {
    font-family: var(--bs-body-font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: var(--psw-white-text-color);
  }

  .partner-sub-title {
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--psw-text2-color);
    margin: 30px 0 40px 0;
  }

  .button-contact {
    cursor: pointer;
    padding: 14px 40px;
    background: var(--psw-button-color);
    border: none;
    border-radius: 4px;
    font-family: var(--bs-body-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--psw-white-text-color);
    transition: all 0.3s ease;

    &:hover {
      transition: all 0.3s ease;
      background: var(--psw-button-hover);
    }
  }
}

@media all and (max-width: 900px) {
  .partner-wrapper {
    padding: 160px 0 162px;

    .partner-title {
      font-size: 28px;
      line-height: 37px;
      margin: 0 6px;
      text-align: center;

      .lowercase {
        text-transform: lowercase;
      }
    }

    .partner-sub-title {
      font-size: 16px;
      line-height: 24px;
      margin: 30px 0 44px 0;
    }
  }
}

@media all and (max-width: 420px) {
  .partner-wrapper {
    .button-contact {
      padding: 14px 0;
      width: 100%;
    }
  }
}

@media all and (max-width: 375px) {
  .partner-wrapper {
    width: 100%;
    max-width: 375px;
    padding: 140px 0 140px 0;

    .partner-title {
      font-weight: 700;
      font-size: 28px;
      line-height: 37px;
      text-align: center;
      color: var(--psw-white-text-color);
    }

    .partner-sub-title {
      font-size: 16px;
      line-height: 24px;
      margin: 30px 0 44px 0;
    }

    .button-contact {
      padding: 14px 0;
      width: 100%;
    }
  }
}


