.services-wrapper {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .services-title {
    font-family: var(--bs-body-font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: var(--psw-white-text-color)
  }

  .services-sub-title {
    margin-top: 20px;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--psw-text2-color)
  }

  .services-cards {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px 40px;

    .services-card {

      max-width: 620px;
      width: 100%;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border-radius: 12px;


      .card-item {
        max-width: 620px;
        width: 100%;
        height: auto;
        transition: 0.3s linear;
        transform: scale(1);
      }

      .card-item-mobile {
        display: none;
      }

      .card-text {
        padding: 0 30px 0 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: absolute;
        bottom: 40px;
        left: 30px;
        transition: 0.3s linear;

        .card-sub-title {
          font-family: var(--bs-body-font-family);
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          letter-spacing: 0.01em;
          color: var(--psw-white-text-color);
        }


        .card-title {
          font-family: var(--bs-body-font-family);
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          display: flex;
          align-items: center;
          color: var(--psw-white-text-color);
        }

        .gray-text-color {
          transition: 0.3s ease;
          color: rgba(255, 255, 255, 0.6);
        }

      }

      .card-link {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        bottom: 0;
        right: 40px;
        opacity: 0;
        transition: 0.3s linear;

        .card-arrow {
          display: block;
          width: 14px;
          height: 2px;
          background-color: var(--psw-white-text-color);
          position: relative;
          border-radius: 10px;
          transition: 0.3s linear;

          &:after {
            content: "";
            position: absolute;
            transform: rotate(45deg);
            border-radius: 10px;
            top: -3px;
            right: -1px;
            width: 10px;
            height: 2px;
            background-color: var(--psw-white-text-color);
          }

          &:before {
            content: "";
            position: absolute;
            transform: rotate(135deg);
            border-radius: 10px;
            top: 3px;
            right: -1px;
            width: 10px;
            height: 2px;
            background-color: var(--psw-white-text-color);
          }


        }

        .card-button {
          cursor: pointer;
          border: none;
          background: none;
          font-family: var(--bs-body-font-family);
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: var(--psw-text2-color);


        }
        .gray-text-color {
          color: rgba(255, 255, 255, 0.6);
          transition: 0.3s ease;
        }

        &:hover .card-arrow {
          width: 28px;
          transition: 0.3s linear;
        }
      }


      &:hover .card-text {
        transition: 0.3s linear;
        bottom: 80px;
      }

      &:hover .card-link {
        transition: 0.3s linear;
        bottom: 40px;
        opacity: 1;
      }

      &:hover .card-item {
        transition: 0.3s linear;
        transform: scale(1.03);
      }

      &:hover .gray-text-color {
        transition: 0.3s ease;
        color: var(--psw-white-text-color)

      }
    }
  }
}




@media all and (min-width: 376px) and (max-width: 460px) {
  .services-wrapper {
    padding-top: 60px;

    .services-sub-title {

    }

    .services-cards {
      margin-top: 40px;
      max-width: 460px;
      width: 100%;
      height: auto;
      gap: 20px;

      .services-card {
        max-width: 460px;
        width: 100%;
        height: 360px;


        .card-item {
          display: none;
        }

        .card-item-mobile {
          display: block;
          max-width: 460px;
          width: 100%;
          height: 360px;
        }

        .card-text {
          left: 20px;
          padding: 0 20px 0 0;

          .card-title {
            font-size: 20px;
            line-height: 28px;

            br {
              display: none;
            }
          }

          .card-sub-title {
            font-size: 14px;
            line-height: 20px;
          }

          &:hover .card-item {
            transition: 0.3s linear;
            transform: scale(1.03);
          }
        }
      }
    }
  }
}

@media all and (max-width: 1404px) {
  .services-wrapper {

    .services-cards {
      justify-content: center;

      .services-card {
        max-width: 560px;

        .card-item {
          max-width: 560px;
        }
      }
    }
  }
}

@media all and (max-width: 1250px) {
  .services-wrapper {

    .services-cards {
      justify-content: center;

      .services-card {
        max-width: 440px;

        .card-item {
          max-width: 440px;
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .services-wrapper {

    .services-sub-title {

      margin: 20px 20px 0 20px;
    }


    .services-cards {
      max-width: 688px;
      width: 100%;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      gap: 20px;

      .services-card {
        max-width: 688px;

        .card-item {
          max-width: 688px;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .services-wrapper {
    .services-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 48px;
    }

    .services-sub-title {
      font-size: 16px;
      line-height: 24px;
    }

    .services-cards {
      max-width: 688px;
      width: 100%;
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      gap: 20px;

      .services-card {
        max-width: 688px;
        width: 100%;

        .card-item {
          max-width: 688px;
          width: 100%;
        }

        .card-text {
          transition: 0.3s linear;

          .card-title {
            font-size: 24px;
            line-height: 150%;

            br {
              display: none;
            }
          }
        }

      }
    }
  }
}

@media all and (max-width: 375px) {
  .services-wrapper {
    padding-top: 60px;

    .services-sub-title {

    }

    .services-cards {
      margin-top: 40px;
      max-width: 335px;
      width: 100%;
      height: auto;
      gap: 20px;

      .services-card {
        max-width: 335px;
        width: 100%;
        height: 360px;


        .card-item {
          display: none;
        }

        .card-item-mobile {
          display: block;
          max-width: 335px;
          width: 100%;
          height: 360px;
        }

        .card-text {
          left: 20px;
          padding: 0 20px 0 0;

          .card-title {
            font-size: 20px;
            line-height: 28px;

            br {
              display: none;
            }
          }

          .card-sub-title {
            font-size: 14px;
            line-height: 20px;
          }

          &:hover .card-item {
            transition: 0.3s linear;
            transform: scale(1.03);
          }
        }
      }
    }
  }
}

