@import "header";
@import "welcome";
@import "services";
@import "partner";
@import "footer";
@import "burgerMenu";
@import "contactUs";


:root {
  --psw-footer-bg: #27282D;
  --psw-button-color: #264EB4;
  --psw-button-hover: #3A6AE3;
  --psw-link-hover: #264EB4;
  --psw-white-text-color: #ffffff;
  --psw-text2-color: #E0E0E0;
  --psw-text3-color: rgba(255, 255, 255, 0.6);
  --psw-text4-color: #777777;
  --psw-error-color: #C6100F;
  --psw-primary-color: #3e914a;
  --psw-danger-color: #f64e60;
  --psw-text1-color: #242429;
  --psw-border1-color: rgba(0, 0, 0, .12);
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);

}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px)
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #27282D;
  width: 100%;
  min-height: 100vh;
  font-family: var(--bs-body-font-family);
}

.container {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: 200;


}

.paralax-image {
  position: fixed;
  left: 0;
  top: -2px;
  max-width: 100%;
  width: 100%;
  z-index: -4;
  object-fit: cover;
}


.blur {
  transition: 0.3s ease;
  filter: blur(2px) brightness(65%);
  max-height: 100%;
  overflow: hidden;

}

.gray {
  background: #212121;
}

.content-wrapper {
  max-width: 1308px;
  padding: 0 14px;
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 375px) {

  .content-wrapper {
    max-width: 375px;

    width: 100%;
    margin: 0 auto;
  }
}

